# Do not commit specific development, editor, and IDE files
.vagrant/
nbproject/
.project
.pydevproject
.buildpath
.settings/

# Do not commit the database SQL dumps and Drupal sites.  Retain the two
# folder's README.md files
/database/*
/data/*

!/database/README.md
!/data/README.md

# Do not commit compiled Python bytecode
*.pyc

# Do not commit downloaded Ansible Galaxy roles.  We'll need to adjust the
# `roles/*` rule if we add custom roles in the future.
/ansible/ansible.cfg
/ansible/roles/*
